.search_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search_wrapper {
  position: sticky;
  top: 0px;
  z-index: 1;
  flex-grow: 1;
}

.search_bar_container {
  position: relative;
}

.search_icon_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
}

.search_icon {
  vertical-align: text-bottom;
  color: #b5aeae;
}

.search_input {
  border: 0;
  border-radius: var(--border-radius);
  appearance: none;
  padding: 16px 16px 16px 56px;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: large;
  font: var(--primary-font);
  /* background-color: #e5e5e5; */
  background-color: var(--white);
}

.search_input:focus {
  box-shadow: 0 0 0 3px var(--secondary-color);
}

.filter_btn {
  border-radius: var(--border-radius);
  border: 0;
  padding: 16px 56px;
  font-size: large;
  background-color: var(--secondary-color);
  /* color: #5f5f63; */
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
  margin-left: 14px;
}

/* .filter_btn:hover,
.filter_btn:active {
  background-color: var(--white);
  color: var(--primary-color);
} */
