.dialog_overlay {
  background: rgba(0, 0, 0, 0.02);
  /* background: transparent; */
  backdrop-filter: blur(16px);
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog_content {
  /* box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
  color: black;
  min-height: 15vh;
  height: 80vh;
  min-width: 25vh;
  width: auto;
  max-height: 95vh;
  /* height: auto; */
  padding: 0;
  border-radius: var(--border-radius);
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
}

.dialog_close_btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 0;
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 8vh;
  width: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: 'blur(40px)';
  cursor: pointer;
  color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dialog_image {
  width: auto;
  height: 100%;
  border-radius: var(--border-radius);
}

.dialog_close_icon {
  color: white;
}
